@import "tailwindcss";

:root {
  --background: #F2F9FA;
  --secondary-colour: #D5E9EC;
  --button-colour: #458B90;
  --second-button-colour: #0D4F54;
  --foreground: #171717;
  --text-colour: #7B7373;
  --second-text-colour: #FFFFFF;
  --footer-colour: #458B90;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
